__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
.env
.venv
env/
venv/
.DS_Store
*.joblib
*.pkl
mlruns/
mlartifacts/
.pytest_cache/
.ruff_cache/
*.log
logs/
airflow.db
airflow.cfg
.airflowignore
screenshots/
